@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<web.Models.Product>;
@{
    ViewData["Title"] = "Home Page";
}

<h1>List of your products</h1>
<div class="text-center">
<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="line-height: 75px;">
    
    @{
        var token = HttpContextAccessor.HttpContext.Session.GetString("token");
        if (token != null && Model != null) {
            foreach (var product in Model)
            {
                if (product.condition) {
                    <tr style="background-color: #FFF9BF;">
                        <td style="padding: 5px;">
                            <img src="@product.image" style="width: 75px; height: 75px; object-fit: contain;">
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@product.id">@product.name</a>
                        </td>
                        <td>
                            @product.price€
                        </td>
                        <td>
                            <a asp-action="RemoveProduct" asp-route-id="@product.id" asp->Remove</a>
                        </td>
                    </tr>
                }
                else {
                    <tr>
                        <td style="padding: 5px;">
                            <img src="@product.image" style="width: 75px; height: 75px; object-fit: contain;">
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@product.id">@product.name</a>
                        </td>
                        <td>
                            @product.price€
                        </td>
                        <td>
                            <a asp-action="RemoveProduct" asp-route-id="@product.id">Remove</a>
                        </td>
                    </tr>
                }
            }
        }
    }
    </tbody>
</table>
</div>
